textarea {
    margin-top: 0px; 
    margin-bottom: 0px; 
    height: 45%;
    resize: none;
    width: 90%;
}

.ui.button.addBtn {
    margin: 10px;
}

.addPostBtn:hover {
    color: var(--main-btn-color);
    cursor: pointer;
}

.postHeader {
  width: 80%;
}



.add-post-form-popup {
    /* display: none; */
    position: fixed;
    height: 80vh;
    bottom: 15px;
    left: 25%;
    z-index: 9;
  }
  
  /* form container */
  .add-post-form-container {
    height: 80vh;
    max-width: fit-content;
    padding: 10px;
    background-color: white;
  }
  
  
  /* Set a style for the submit/login button */
  .add-post-form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 70%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* cancel button */
  .add-post-form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .add-post-form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .posth2 {
      margin: 10px;
  }

  .hidden {
    display: none;
}

.show {
    display: block;
}



  @media screen and (max-width: 768px) {

    .add-post-form-popup {
      position: absolute;
      top: 70%;
      left:10%;
      min-width: 250px;
      max-width: 80%;
  }
    .add-post-form-container  {
      min-width: 250px;
      max-width: 80%;
      margin: auto;
    }

    textarea {
      max-width: 75%;
    }

    .postHeader {
      max-width: 75%;
    }


  .add-post-form-container .btn {
      max-width: 70%;
  }
  }