
.wall-container {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: var(--main-bg-color);
    padding: 20px;
}

.postsContainer {
    height: fit-content;
    
}

.card {
    color: var(--secondary-font-color);
    height: 300px;
    height: fit-content;
}

.postHeader {
    margin: 0px 0px 10px 0px;
    color: var(--header-color);
}

.postBody {
    min-height: 100px;
    max-height: 200px;
}

p.postBody {
    font-size: 16px;
    padding: 10px;
    color:black;
}

.ui.card, .ui.card>.card {
    width: 40vw;
}

.comment.icon:hover {
    color: rgb(0, 132, 255);
    cursor: pointer;
}

.scroll {
    overflow-y: scroll;
}

p {
    word-break: break-all;
}

.noPostsMsg {
    margin: auto;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .ui.card, .ui.card>.card {
        min-width: 60vw;
    }

    .wall-container {
        flex-direction: column;
    }

    .postsContainer {
        margin: auto;
    }

    .followingSection {
        margin: auto;
    }

    .extra> span {
        font-size: 0.8rem;
    }
}