.feedContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-height: fit-content;
    background-color: var(--main-bg-color);
    padding: 20px;
}

.userLink {
    font-size: 1.1rem;
}

.feedHeader {
    color: white;
}

.postHeader {
    margin: auto;
}