textarea {
    margin-top: 0px; 
    margin-bottom: 0px; 
    height: 174px;
}

.addPostBtn {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 50px;
    transition: color 0.5s;
}

.addPostBtn:hover {
    color: var(--main-btn-color);
    cursor: pointer;
}



/* The popup form - hidden by default */
.form-popup2 {
    display: none;
    position: fixed;
    bottom: 15px;
    z-index: 9;
  }
  
  /* form container */
  .form-container2 {
    max-width: 540px;
    padding: 10px;
    background-color: white;
  }
  
  
  /* Set a style for the submit/login button */
  .form-container2 .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 70%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* cancel button */
  .form-container2 .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container2 .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .posth2 {
      margin: 10px;
  }