
.wall-container {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: var(--main-bg-color);
    padding: 20px;
}

.postsContainer {
    height: fit-content;
    
}

.singlePostContainer {
    color: var(--secondary-font-color);
}

.postHeader {
    margin: 0px 0px 10px 0px;
    color: var(--header-color);
}

p.postBody {
    font-size: 16px;
    padding: 10px;
}

.ui.card, .ui.card>.card {
    width: 40vw;
}

.comment.icon:hover {
    color: rgb(0, 132, 255);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .ui.card, .ui.card>.card {
        min-width: 60vw;
    }

    .wall-container {
        flex-direction: column;
    }

    .postsContainer {
        margin: auto;
    }

    .followingSection {
        margin: auto;
    }

    .extra> span {
        font-size: 1rem;
    }
}