

.wall-container {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: var(--main-bg-color);
    padding: 20px;
}

.postsContainer {
    height: fit-content;
    
}

.singlePostContainer {
    color: var(--secondary-font-color);
}