ul {
  height: 4vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    position: sticky;
    /* display: flex; */
  }


  li {
    display: inline;
    padding: 10px;
  }

  ul > li > a {
    background-color: #dddddd;
    font-size: 1em;
  }

  img {
      float: right;
      width: 35px;
  }